:root{
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;
    --background-color: #573824;
    --surface-color:  #F0E8C2;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
}